.fit {
  &__wrap {
    position: relative;
    max-width: 15%;
    width: 100%;
    margin-right: 15px;
    padding-bottom: 20%;
  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
